/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  padding: 40px;
  text-align: center;
  font-family: 'Roboto';
  border-radius: 10px;
}
